
<div class="py-4">
    <div class="card" style="width: 16rem; ">
        <img class="card-img-top" src="~/Content/Images/not_available.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-muted justify-content-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-outline-primary">View details</a>
                <span>Price</span>

            </div>
        </div>
    </div>
</div>
